.checkoutBody {
    margin: 10% 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formBody{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.checkoutBody input {
    padding: 0.2em;
    margin: 10px;
    border: 2px solid rgb(19, 0, 128);
    border-radius: 5px;
}
.checkoutBody p {
    font-size: 0.8em;
    text-align: center;
    padding-bottom: 15px;
}
.checkoutBody h1 {
    font-size: 3em;
    text-align: center;
    padding-bottom: 15px;
}
.sentOrder {
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.orderId {
    background: black;
    color: white;
}