.linkCard {
  text-decoration: none;
  color: inherit;
}
.linkCard:hover {
  color: inherit;
}
.imgProducto {
  width: 100%;
  max-height: 150px;
  object-fit: contain;
  padding-top: 5px;
}
.card {
  text-align: center;
  border-radius: 0;
  border: 0;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin: 5px;
}

/*Line clamp para reducir los títulos más largos de 2 líneas*/
.lineClamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

/*Agregadas clases de botón para pisar la default de bootstrap*/
.card button {
    background-color: #bbcaddd2;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
}
.card button:hover {
    background-color: #bbcaddd2;
}
.card button:focus {
    outline: none;
    background-color: #bbcaddd2;
}

.smallTxt {
  font-size: 12px; font-weight: 600;
}